.terms-wrapper{
    display: flex;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto 8rem auto;
    padding: var(--page-padding);
    margin-top: 50px;
    justify-content: center;
}

.terms-wrapper nav {
    width: 50%;
}
