
.hero-wrapper{
    display: flex;
    width: 100%;
    max-width: var(--page-width);
    margin: 0 auto 8rem auto;
    padding: var(--page-padding);
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.hero-wrapper p{
    font-size: 24px;
    line-height: 24px;
}

.first-wrapper {
    flex-basis: 50%;
}

.first-wrapper u {
    text-decoration: none;
    box-shadow: inset 0 -0.5em 0 var(--secondary-color);
    transition: box-shadow 0.3s ease-out 0s;
}

.first-wrapper u:hover {
    box-shadow: inset 0 -1em 0 var(--secondary-color);
}

.image-wrapper {
    flex-basis: 60%;
}


@media (max-width: 991px) {
    .hero-wrapper {
        flex-direction: column;
        gap: 50px;
    }
    .image-wrapper {
        margin: 0 -2.5em;
    }
    .image-wrapper img {
        border-radius: 0;
    }
    .first-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

@media (max-width: 425px) {
    .hero-wrapper {
        margin: 0 auto 4rem auto;
    }

    .hero-wrapper h1{
        font-size: 28px;
        line-height: 28px;
    }

    .hero-wrapper p{
        font-size: 20px;
        line-height: 20px;
    }

    .btn {
        font-size: 20px;
        padding: 0.3rem 1rem;
    }
}