.pricing{
    width: 100%;
    max-width: var(--page-width);
    margin: 0 auto 8rem auto;
    padding: var(--page-padding);
}

.pricing-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    flex-wrap: wrap;
  }
  
  .cards-wrapper {
    margin-right: 25px; 
    transition: transform 0.5s ease; 
  }

#card3 .btn {
    margin-top: 0;
}
#card4 .btn {
    margin-top: 0;
}
#card4 .header{
    margin-top: 27px;
}
#card1 .header {
    margin-top: 30px;
}
#card1 .btn-pricing {
    margin-top: 0;
}
#card2 .header {
    margin-top: 32px;
}
#card2 .btn-pricing {
    margin-top: 10px;
}

.pricing-card {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s ease;
    width: 280px;
    height: auto;
    min-height: 405px;
    display: flex;
    flex-direction: column; 
    cursor: pointer;
}

.pricing-card h3 {
   margin-top: 30px;
}

.pricing-card .header{
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding-bottom: 20px;
}

.pricing-card:hover {
   box-shadow: 2px 2px 8px #1e1e1e;
   transform: scale(1.03);
}

.pricing h1{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.price {
    color: var(--background-color);
}
.pricing-card span{
    padding-right: 10px;
}
.pricing-card .tick-icon{
    border-radius: 100%;
    background-color: var(--background-color);
    --tw-bg-opacity: 1;
    font-size: 18px;
    vertical-align: bottom;
}
.pricing-card p{
    line-height: 16px;
    font-size: 16px;
}
.pricing-card .included{
    font-weight: 700;
    font-size: 20px;
}
.pricing-card .btn{
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-pricing {
    width: max-content;
    margin: 30px auto 0 auto;
    padding: 0.5rem 1rem;
    font-size: 20px
}
@media (max-width: 425px) {
    .pricing h1 {
        margin-bottom: 40px;
        margin-top: 0;
    }

    .pricing {
        margin: 0 0 4rem 0;
    }

    .pricing-card {
    transform: scale(1);
    transition: transform 0.5s ease;
    }

    .pricing-card:hover {
        box-shadow: 4px 4px 10px #fff;
        transform: scale(1.02);
     }

     .pricing-card h3 {
        margin-top: 20px;
     }
     
     .pricing-card .header{
         margin-bottom: 30px;
         padding-bottom: 30px;
     }
}
@media (max-width: 768px) {
    .pricing-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0;
      margin-bottom: 0;
      overflow-x: auto;
      scroll-behavior: initial;
      align-content: center;
    }
  
    .cards-wrapper {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  
    .pricing-card {
      transform: scale(1);
      transition: none;
      height: auto;
      min-height: auto;
      display: block;
      box-shadow: none;
      margin-bottom: 20px;
      padding: 20px;
    }
  }
  
  

