.review {
    width: 100%;
    max-width: var(--page-width);
    margin: 0 auto 8rem auto;
    padding: var(--page-padding);
}

.reviews-wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.review-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-card {
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: center;
    width: 280px;
    display: flex;
    flex-direction: column;
    min-height: 310px;
    align-items: center;
    justify-content: space-evenly;
}

.review h1 {
    text-align: center;
    margin-bottom: 100px;
 }
 
 .review-card .opinion{
     border-top: 1px solid black;
     margin-top: 30px;
     padding-top: 30px;
 }
 .review-card .star {
    height: 12px;
    color: black;
    font-size: 32px;
  }
  .opinion-wrapper .review-photo {
    border-radius: 50%;
    max-width: 35px;
    max-height: 35px;
  }

  .opinion-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 218px;
    height: auto;
    border-radius: var(--border-radius);
    border: 0.125rem solid var(--primary-color);
    padding: 0.5rem 1rem;
    transition: 20ms ease-out;
    color: black;
  }

  .opinion-wrapper h2{
    margin: 0;
    font-size: 15px;
  }

  @media (max-width: 991px) {
    .reviews-wrapper {
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media (max-width: 425px) {
    .opinion-wrapper h2{
        font-size: 1.1rem;
    }
    .review h1 {
        margin: 0 0 2rem 0;
    }
}